## Varibles

In [2]:
# Int Varible

int_var = 10
print(int_var)
type(int_var)

10

int

In [4]:
# Float Varible

float_var = 10.0
print(float_var)
type(float_var)

10.0

float

In [5]:
# Int Varible

str_var = "Vivek Jha"
print(str_var)
type(str_var)

Vivek Jha

str

In [6]:
# Int Varible

bool_var = True
print(bool_var)
type(bool_var)

True

bool

In [8]:
# Define Complex Number

complex_var = 5+ 9J
print(complex_var)
type(complex_var)
print(complex_var.real)
print(complex_var.imag)

(5+9j)
5.0
9.0

In [38]:
# Take imput form Console
input_num = int(input())
print(input_num)

10

### Mutability and Immutability

##### Python String Support forware and backard side indexing

#### For Example
foraware Indexing = 0,1,2,3

Text = a,b,c,d

backware Indexing = -4,-3.-2,-1

In [16]:
name = 'Vivek'
print(name[1])
print(name[-4])

i
i

In [18]:
list = [1,2,3,4,5,'Vivek','Jha',True]
print(list)
# In Mutable object we can chnage in the data, like:
list[4] = "Hello"
print(list)

[1, 2, 3, 4, 5, 'Vivek', 'Jha', True]
[1, 2, 3, 4, 'Hello', 'Vivek', 'Jha', True]

In [19]:
name = 'Vivek'
print(name)
# In Immutable object we can not chnage in the data, like:
name[4] = 'B'
print(name)

Vivek

TypeError: 'str' object does not support item assignment

### Operator

#### Arthematic Operator(+,-,*,/,%)

In [1]:
# Addition
10 + 20

30

In [2]:
# Substraction

20- 10

10

In [3]:
# Multiplication

10*30

300

In [4]:
# Square Operator
2**3

8

#### Comparision Operator

In [7]:
print(1>2)
print(1<2)
print(1==2)
print(1!=2)
print(1>=2)
print(1<=2)

False
True
False
True
False
True

#### Logical Operator

In [8]:
True and False

False

In [9]:
True or False

True

In [10]:
not True

False

#### Bitwise Operator

In [20]:
'''How We are getting 10
10 binary = 1010
AND
10 binary = 1010
=
Result = 1010 = 10(Result)'''

print(10 & 10)

10

In [17]:
bin(10)

'0b1010'

In [22]:
'''How We are getting 10
23 binary = 10111
AND
3 binary = 00011
=
Result = 00011 = 3(Result)'''

23 & 3

3

In [23]:
'''How We are getting 10
34 binary = 100010
OR
23 binary = 010111
=
Result = 110111 = 55(Result)'''

34 | 23

55

#### Left & Right Shift Operator

In [26]:
# Right Shift

30 >> 2

7

In [27]:
# Left Shift 

20 << 2

80

#### Assignment Operator

In [28]:
a = 10

In [29]:
a = a +2
a

12

In [30]:
a += 2
a

14

In [2]:
a,b,c,d = 1,2,5.4,True

In [4]:
print(a)
print(b)
print(c)
print(d)

1
2
5.4
True

#### Conditions

In [31]:
a = 10

if a > 10:
    print("A is greater than 10")

A is not greater than 10

In [32]:
if a > 10:
    print("A is greater than 10")
else:
    print("A is not greater than 10")

A is not greater than 10

In [33]:
if a > 10:
    print("A is greater than 10")
elif a<= 10:
    print("A is equal to and less than 10")
else:
    print("A is not greater than 10")

A is equal to and less than 10

In [39]:
a = int(input("Enter a value:"))
if a > 10:
    print("A is greater than 10")
elif a<= 10:
    print("A is equal to and less than 10")
else:
    print("A is not greater than 10")

A is equal to and less than 10

In [42]:
n = 10
i = 1

while i < n:
    print(i)
    i = i + 1
else:
    print("This will only execute, once iteration will complete.")

1
2
3
4
5
6
7
8
9
This will only execute, once iteration will complete.

In [45]:
n = 10
i = 1
while i < n:
    i = i + 1
    if i == 5:
        continue
    if i == 8:
        break
    print(i)
else:
    print("This will only execute, once iteration will complete.")

2
3
4
6
7

In [48]:
name = "Vivek Jha"
for i in name:
    print(i)
else:
    print("This will execute, once for loop is going to complete")

V
i
v
e
k

J
h
a
This will execute, once for loop is going to complete

In [47]:
name_char_list = [i for i in name]
print(name_char_list)

['V', 'i', 'v', 'e', 'k', ' ', 'J', 'h', 'a']

In [56]:
[range(10)]

[range(0, 10)]